# Cloudflare Tunnel - common configuration
# https://github.com/cloudflare/helm-charts/tree/main/charts/cloudflare-tunnel

replicaCount: 1

image:
  tag: "2024.8.3"

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi
