apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: homelab-nix

servers: 1
agents: 3

kubeAPI:
  host: "100.110.197.82"
  hostPort: "6443"

ports:
  - port: 80:80
    nodeFilters:
      - server:*
  - port: 443:443
    nodeFilters:
      - server:*

options:
  k3s:
    extraArgs:
      - arg: "--disable=traefik"
        nodeFilters:
          - server:*
      - arg: "--disable=servicelb"
        nodeFilters:
          - server:*

volumes:
  - volume: /mnt/k8s-volumes:/var/lib/rancher/k3s/storage
    nodeFilters:
      - server:*
      - agent:*
