---
# cert-manager common values

installCRDs: true

global:
  leaderElection:
    namespace: cert-manager

replicaCount: 1

webhook:
  replicaCount: 1

cainjector:
  replicaCount: 1

# Security
securityContext:
  runAsNonRoot: true

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true

# Prometheus metrics
prometheus:
  enabled: true
  servicemonitor:
    enabled: false

# Pod annotations for Prometheus scraping
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "9402"
  prometheus.io/path: "/metrics"
