# MetalLB - common configuration
# https://metallb.universe.tf/

# Speaker configuration (L2 mode)
speaker:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

# Controller configuration
controller:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi
